/*.path-mod-cardbox body {
    font-size: 30px !important;
}*/

.path-mod-cardbox button {
    border: none !important;
}

.path-mod-cardbox .cardbox-studyview {

}

/*.path-mod-cardbox #cardbox-see-options {
    display: none;
}*/

.path-mod-cardbox .cardbox-cardcontainer {
    /*padding: 30px;*/
}

.path-mod-cardbox .cardbox-card {
    /*margin: 0 auto;
    /*max-width: 700px;
    border: 0.5px solid !important;
    border-color: #cccccc !important;
    padding-bottom: 15px;*/
}
td.cell-c0, td.cell-c1, td.cell-c2, td.cell-c3, td.cell-c4, td.cell-c5,  td.cell-c6, td.cell-c7 {
    text-align:center;
}
th.header-c0, th.header-c1, th.header-c2, th.header-c3, th.header-c4, th.header-c5, th.header-c6, th.header-c7{
    text-align:center;
}
.path-mod-cardbox .cardbox-image {
    /*margin: 0 auto;
    max-width: 700px;*/
}

.path-mod-cardbox .cardbox-text {
    
}

.path-mod-cardbox .img-fluid {
    max-width: 100%;
    max-height: 600px;
    
}

.path-mod-cardbox .form-inline {
  /*display: flex;
  flex-flow: row wrap;
  align-items: center;*/
}

.path-mod-cardbox #cardbox-userinput, .path-mod-cardbox .cardbox-userinput {
    margin-top: 30px;
    margin-bottom: 15px;
}

.path-mod-cardbox .cardbox-input-color-correct {
    color: #00b33c;
}

.path-mod-cardbox .cardbox-input-color-incorrect {
    color: #e60000;
}

/*.path-mod-cardbox .form-control {
    width: 50% !important;
}*/

.path-mod-cardbox .hidden {    
    display: none;
}

.path-mod-cardbox #cardbox-mark-as-correct {
    background-color: #00b33c;
    border: none;
}

.path-mod-cardbox #cardbox-mark-as-incorrect {
    background-color: #ff9900;
    border: none;
}

.path-mod-cardbox #cardbox-practice-feedback {
/*    height: 100px !important;
    width: 100px !important;*/
}

.path-mod-cardbox #review-button-wrapper {
    text-align: center;
    max-width: fit-content;
    padding-right: 0px;;
}

.path-mod-cardbox .reviewcontent {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center
}

.path-mod-cardbox .cardbox-review-button {
    border-radius: 0px;
    /*margin-left: 1em;
    margin-left: 1em;*/
}
/*.path-mod-cardbox .cardbox-review-button {
    border-radius: 70%;
    margin-bottom: 3em;
}*/

.path-mod-cardbox #cardbox-approve {
    /*padding-left: 1.3em;*/
/*    background-color: #00b33c;
    margin-right: 1em;*/
}

/*.path-mod-cardbox #cardbox-edit {
    background-color: #ff9900;
    margin-right: 1em;
}*/

/*.path-mod-cardbox #cardbox-reject {
    background-color: #ff3300;
    margin-right: 1em;
}*/

.path-mod-cardbox #cardbox-skip {
    /*background-color: #00b33c;*/
}

.path-mod-cardbox .cardbox-statistics {
    margin-top: 3em;
}

/************************** Practice: modal with practice options *****************************************************/

.path-mod-cardbox .modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(32, 32, 32, 0.75); /* Black w/ opacity */
}

.path-mod-cardbox .modal-body .cardbox-options .row {
    margin-bottom: 1.5em;
}

.path-mod-cardbox .cardbox-options {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    /*grid-template-rows: 33% 33% 34%;/*61.8% 38.2%;*/
    grid-template-areas: "A B" "C D" "E F" "G H";
    align-items: center;
    justify-items: start; /*no visible effect*/
}

.path-mod-cardbox .goldenleft,
.path-mod-cardbox .goldenrigth {
    margin-bottom: 2em;
}

.path-mod-cardbox .item {
    display: flex;
    /*justify-content: left;
    align-items: left;*/
    align-self: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.path-mod-cardbox .item.a {
    grid-area: A;
}
.path-mod-cardbox .item.b {
    grid-area: B;
}
.path-mod-cardbox .item.c {
    grid-area: C;
}
.path-mod-cardbox .item.d {
    grid-area: D;
}

.path-mod-cardbox .item.e {
    grid-area: E;
}

.path-mod-cardbox .item.f {
    grid-area: F;
}

.path-mod-cardbox .item.g {
    grid-area: G;
    margin-bottom: 0em;
}

.path-mod-cardbox .item.h {
    grid-area: H;
    margin-bottom: 0em;
}

/* .path-mod-cardbox #cardbox-topic {
    height: 75%;
} */

/************************** Practice: autocorrection mode, solution display *****************************************************/

/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

.path-mod-cardbox .cardbox-card-text, .path-mod-cardbox .cardbox-text {
    font-size: 16px !important;
}
#review-div{
    display: none;
}
.sticky-review-arr{
    position: fixed;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: -webkit-fill-available;
    margin-left: 10%;
    margin-bottom: 10%;
}

.cardbox-card-context{
    font-size: 10px
}

.path-mod-cardbox .cardbox-selfcheck-question-side {
    margin-bottom: 1rem;
}

.path-mod-cardbox .cardbox-column {
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.path-mod-cardbox .cardbox-context-overview {
    margin-left: 16% !important;
    margin-right: 16% !important;
    margin-bottom: 1em;
    padding: 10px;
}

.path-mod-cardbox .cardbox-context-practice {
    margin-left: 25% !important;
    margin-right: 25% !important;
    padding: 10px;
    margin-top: 1em, 
}

.path-mod-cardbox .cardbox-card-left-side, .path-mod-cardbox .cardbox-card-right-side {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 2em;
    padding: 1em;
    height: 94%;
}
.cardbox-card-right-side-multi {
    border-radius: 3px;
    margin-bottom: 2em;
    height: 94%;
}
.cardbox-cardside-multi {
    border: 1px solid #e6e6e6;
    padding: 1em;
}
.checkbox-card{
    margin-left: 2%;
}
.kontext-grid{
    display: grid;
    grid-template-columns: 33.33% 33.33% ;
    justify-content: center;
    grid-gap: 2.3%;
    margin-left: 10%;
    margin-right: 22%;
}
@media (max-width: 323px) {

    .path-mod-cardbox #cardbox-feedback-wrapper, .path-mod-cardbox #cardbox-feedback, .path-mod-cardbox #cardbox-proceed-buttons {
        padding: 0em !important;
    }

}

/* col-sm Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .path-mod-cardbox .cardbox-card-text, .path-mod-cardbox .cardbox-image {
        font-size: 1.2rem !important;
    }

    .path-mod-cardbox .cardbox-card-left-side {
        margin-right: 1em;
        margin-left: 1em;
        padding: 2em;
    }
    
    .path-mod-cardbox .cardbox-card-right-side {
        margin-left: 1em;
        padding: 2em;
    }

    .path-mod-cardbox .cardbox-feedback {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .path-mod-cardbox #cardbox-override, .path-mod-cardbox #cardbox-proceed {
        float: right !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    
    .path-mod-cardbox .cardbox-feedback {
        padding-left: 2em;
        padding-right: 2em;
    }
    
}

/* col-lg Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}

/* col-xl Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}

@media only screen and (min-width: 1062px) {
    .path-mod-cardbox .cardbox-card-text, .path-mod-cardbox .cardbox-image {
        font-size: 1.4rem !important;
    }
}

.path-mod-cardbox #cardbox-feedback {
    font-size: 16px;
    padding-top: 0.2em;
}

.path-mod-cardbox .cardbox-feedback {
    border: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*padding-left: 2em;
    padding-right: 2em;*/
}

.path-mod-cardbox #cardbox-proceed-buttons {
    /*padding-left: 2em;*/
}

.path-mod-cardbox #cardbox-proceed {
    margin-right: 0.5em;
}

.path-mod-cardbox .cardbox-success {
    background-color: #8dc060;
    border-color: #8dc060;
}

.path-mod-cardbox .cardbox-warning {
    background-color: #fff059;
    border-color: #fff059;
}

.path-mod-cardbox .cardbox-error {
    background-color: #cc071e;
    border-color: #cc071e;
    color: white;
}