<div class="cardbox-cardside">

    {{#images}}
        <div class="cardbox-image">
            <img src='{{imagesrc}}' class='img-fluid mx-auto d-block'>
        </div>
    {{/images}}

    {{#sounds}}
        <audio controls>
            <source src='{{soundsrc}}' type='audio/mpeg'>
        </audio>
    {{/sounds}}

    {{#texts}}
        <div class="cardbox-card-text {{#images}}text-center{{/images}}">{{{text}}}</div>
    {{/texts}}

</div>