<div id="cardbox-overview">

    <span>Themenfilter </span><span><select id="cardbox-overview-topicfilter" class="custom-select">
        <option value="-1" {{#nopreference}}selected{{/nopreference}}>keine Auswahl</option>
        {{#topics}}
            <option value="{{topicid}}" {{#selected}}selected{{/selected}}>{{topic}}</option>
        {{/topics}}
        <option value="0" {{#cardswithouttopic}}selected{{/cardswithouttopic}}>{{# str }} notopic, cardbox {{/ str }}</option>
    </select></span>

    {{#cards}}
        <div class="container-fluid cardbox-studyview">

            <h5>{{# str }} reviewtopic, cardbox {{/ str }}<em>{{topic}}</em></h5>
            
                {{#contextavailable}}
                    <div id="cardbox-card-in-review" data-cardid="{{cardid}}" class="row reviewcontent" style="margin-bottom:0px">
                {{/contextavailable}}
                {{^contextavailable}}
                    <div id="cardbox-card-in-review" data-cardid="{{cardid}}" class="row reviewcontent">
                {{/contextavailable}}
                <div class="hidden-xs col-lg-1 col-xl-2"></div>
                <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
                    <div class="cardbox-card-left-side">
                        {{#question}}
                            {{> mod_cardbox/cardside }}
                        {{/question}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
                    <div class="cardbox-card-right-side">
                        {{#answer}}
                            {{> mod_cardbox/cardside }}
                        {{/answer}}
                    </div>
                </div>
                <div class="hidden-xs col-lg-1 col-xl-2">
                    {{#allowedtoedit}}
                        <form action="view.php" method="post" autocomplete="off">
                            <input type="hidden" name="id" value="{{cmid}}">
                            <input type="hidden" name="action" value="editcard">
                            <input type="hidden" name="from" value="overview">
                            <input type="hidden" name="cardid" value="{{cardid}}">
                            <button id="cardbox-edit" type="submit" class="btn btn-primary cardbox-review-button" title="{{# str }} edit, cardbox {{/ str }}"><i class='icon fa fa-pencil fa-fw'></i></button>
                        </form>
                        <button id="cardbox-delete-{{cardid}}" type="submit" class="btn btn-primary cardbox-delete-button cardbox-review-button" title="{{# str }} edit, cardbox {{/ str }}"><i class='icon fa fa-trash fa-fw'></i></button>
                        
                    {{/allowedtoedit}}
                </div>
            </div>
            {{#contextavailable}}
                <div class='cardbox-context-overview' >{{context}}</div>
            {{/contextavailable}}

        </div>
    {{/cards}}

</div>