<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="modal" id="cardboxPracticeSettings">
    {{> mod_cardbox/options }}
</div>
