<div id="cardbox-practice-content" class="row">

    <div class="hidden-xs col-lg-1 col-xl-2"></div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
        <div class="cardbox-card-left-side">
            {{#question}}
                {{> mod_cardbox/cardside }}
            {{/question}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
        <div class="cardbox-card-right-side">
            {{#answer}}
                {{> mod_cardbox/cardside }}
            {{/answer}}
        </div>
    </div>
    <div class="hidden-xs col-lg-1 col-xl-2"></div>

</div>

<div id="cardbox-practice-user-interaction" class="row">

    <div class="hidden-xs col-sm-6"></div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 text-center" class="container-fluid">
        <button id="cardbox-mark-as-correct" type="button" class="btn btn-primary">{{# str }} markascorrect, cardbox {{/ str }}</button>
        <button id="cardbox-mark-as-incorrect" type="button" class="btn btn-primary">{{# str }} markasincorrect, cardbox {{/ str }}</button>
    </div>
    <div class="hidden-xs col-lg-1 col-xl-2"></div>

</div>