<div id="cardbox-practice-content" class="row">
    
    <div class="hidden-xs col-lg-1 col-xl-2"></div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
        <div class="cardbox-card-left-side">
            {{#question}}
                {{> mod_cardbox/cardside }}
            {{/question}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
        <div class="cardbox-card-right-side">
            <p>
                <div class="cardbox-card-text"><b>{{# str }} solution, cardbox {{/ str }}</b></div>
                {{#answer}}
                    {{> mod_cardbox/cardside }}
                {{/answer}}
            </p>
            <p>
                <div class="cardbox-card-text"><b>{{# str }} yoursolution, cardbox {{/ str }}</b></div>
                <div class="cardbox-text">
                    {{#userinputitems}}
                        <div id="cardbox-user-solution" class="{{colorclass}} cardbox-card-text">{{userinput}}</div>
                    {{/userinputitems}}
                </div>
            </p>
        </div>
    </div>
    <div class="hidden-xs col-lg-1 col-xl-2"></div>

</div>

<div id="cardbox-practice-user-interaction" class="row">

    <div class="hidden-xs col-lg-1 col-xl-2"></div>
    <div id="cardbox-feedback-wrapper" class="col-lg-10 col-xl-8 cardbox-feedback">
        <div class="row">
            <span id="cardbox-feedback" class="col-xs-12 col-sm-3 cardbox-text"></span>
            <span id="cardbox-proceed-buttons" class="col-xs-12 col-sm-9">
                <button id="cardbox-override" type="button" class="btn btn-secondary">{{overridelabel}}</button>
                <button id="cardbox-proceed" type="button" class="btn btn-primary">{{# str }} proceed, cardbox {{/ str }}</button>
            </span>
        </div>
    </div>
    <div class="hidden-xs col-lg-1 col-xl-2"></div>

</div>